
body { margin: 0px; padding: 0px; }
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
.header{width:%100; height:90px;}
.upper_menu{width:%100; height:40px; background-color:#092330;}
.sign{
float:right; 
margin-right:5px; 
padding-right:5px; 
color:#2478a4; 
margin-top:35px; 
margin-right:20px; 
text-decoration:none;
font-family:Calibri;
font-size:19px;
font-style:bold;
}/**/
#menu li {
    float: right;
    width: 150px;
    position: relative;
	 list-style-type:none; 
}
#menu a {
    font-family: "Calibri";
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 3px;
    margin-right: 2px;
}
#menu a:hover {
   background-color: #2478a4;
}
.ilanlar{}